# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# data or large output
data/
1-qol/output
1-qol/models
1-qol/sim-data
models/
img/
qol-sap_files/
2-hosp/output
2-hosp/models
2-hosp/sim-data
stan-progress.txt
2-hosp/8.1-sim-resampling-markov-H0-no-int_files
2-hosp/8.2-sim-resampling-markov-H0-linear-int_files
2-hosp/8.3-sim-resampling-markov-H0-full-int_files
2-hosp/8.4-sim-resampling-markov-H0-no-int-cluster_files
nohup.out
2-hosp/8.1-sim-resampling-markov-H0-no-int.html
2-hosp/8.2-sim-resampling-markov-H0-linear-int.html
2-hosp/8.3-sim-resampling-markov-H0-full-int.html
2-hosp/output.zip

2-hosp/8.2-sim-resampling-markov-H0-linear-int.rmarkdown
2-hosp/8.1-sim-resampling-markov-H0-no-int.rmarkdown
2-hosp/8.3-sim-resampling-markov-H0-full-int.rmarkdown
2-hosp/8.4-sim-resampling-markov-H0-no-int-cluster.html
.vscode/settings.json

9-markov-tests/data
9-markov-tests/output
99-code-dump/
copilot-instructions.md
